#container{
    height: 25px;
    width:50%;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    top:10px;
    left:20px;
   

}
#progress-bar{
    height: 25px;
    width:50%;
    background-color: darkviolet;
    border-radius: 20px;
    animation: Animation-loading 2s ease-in-out 0.5s infinite normal;

}
@keyframes Animation-loading{
    0%{
         width:0%;
    }
    90%{
        width:95%;
    }
    95%{
        width: 75%;
    }
    100%{
        width:100%;

    }
}